<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>morted</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-bottom: 40px;
            padding-top: 60px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
	    <!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

	<!-- CodeMirror -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.3.0/codemirror.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.3.0/codemirror.css" />

	<!-- Firepad -->
	<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css" />
	<script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>
	<link href="docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-horizontal.css" type="text/css" media="screen" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="docs/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">morted</a>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Username
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div id="scrollable-content">
    <div class="row horizontal-box">
        <div class="span3 horizontal-box">
   	        <div class="well sidebar-nav">
       	        <ul class="nav nav-list">
                    <a ng-repeat="plays in play">
				{{plays.playlist.title}}
				<br></br>
		    </a>

                </ul>
            </div><!--/.well -->
        </div><!--/span-->

        
            <div class="row-fluid">
                <div class="span4">
                    

                </div><!--/span-->
              

                </div><!--/horizontal-box-->
            </div><!--/span-->
         <div class="span4 horizontal-box">
         	<h2>Search</h2>
                <input id="inputIcon" type="text" ng-model="searchTerm" ng-enter="search()">
                <span class="add-on btn btn-small" ng-click="search()"><i class="icon-search"></i></span>
               
         </div>
        </div>
    </div><!--/row-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
	$('#scrollable-content').bind('mousewheel', function(event, delta, deltaX, deltaY){
		// console.log(delta, deltaX, deltaY);
		if (delta > 0) {
			// mousewheel is going up
			window.scrollBy(-30*delta, 0);
		} else {
			// mousewheel is going down
			window.scrollBy(-30*delta, 0);
		}
	});
</script>

</body>
</html>
